

body, h4, h5 {
    font-family: 'Barlow', sans-serif;

}

h1, h2, h3 {
    font-family: 'Dosis', sans-serif;
    
}

h1 {
    font-size: 4rem;
}

.Timer h1 {
    font-weight: 100;
    font-size: 5rem;
}

h4.scoreList{
    font-weight: 100;
}

.scoreList li h4 {
    margin: 0 10px;
}

.finalTime h2 {
    font-weight: 700;
}

h2.lateBrush1 {
    font-weight: 100;
    text-decoration: none;
}
